* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh; /* 100vh = 100% da altura; é medida relativa, responsiva */
}